@font-text: "Roboto", sans-serif;
@font-title: "Open sans", sans-serif;

@c-orange: #F54D27; // rgb(245, 77, 39)
@c-light-blue: #C7D9E5; // rgb(199, 217, 229)
@c-dark-blue: #00909A; // rgb(0, 144, 154)
@c-yellow: #CD9F00; // rgb(205, 159, 0)

@spacing: 1rem;

body {
    margin: 0;
    font-family: @font-text;
    background-color: @c-light-blue;
}

.header {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: @font-title;
}

#page {
    position: relative;
}

#gitsim-screen {
    height: 100%;
}

#guide-screen {
    position: absolute;
    width: 40%;
    left: 60%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#guide {
    background-color: white;
    border: 2px black solid;
    padding: @spacing;
    box-shadow: 4px 4px 8px black;
}

#guide-container {
    width: 100%;
    padding: @spacing;
}
