@font-text: "Roboto", sans-serif;
@font-title: "Open sans", sans-serif;

@spacing: 1rem;

body {
    margin: 0;
    font-family: @font-text;
    background-color: rgba(199, 217, 229, 255);
}

.header {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: @font-title;
}

#page {
    position: relative;
}

#gitsim-screen {
    height: 100%;
}

#guide-screen {
    position: absolute;
    width: 40%;
    left: 60%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#guide {
    background-color: white;
    border: 2px black solid;
    padding: @spacing;
    box-shadow: 4px 4px 8px black;
}

#guide-container {
    width: 100%;
    padding: @spacing;
}
